html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #000000;
	scroll-behavior:smooth;
}

h1, h2, h3, p, span {
	font-family: "Rubik", sans-serif;
	color: white;
}

/////////////////////////////////////////////////////////////////////////////////////////// NAV BAR

header {
	text-align: center;

	a {
		font-size: 50px;
		color: white;
		text-decoration: none;
		padding: 0rem clamp(1rem, 2vw, 3rem);
	}
	a:hover {
		color: black;
		background-color: #ffffff;
	}
}

@media screen and (max-width: 500px) {
	header {
		a {
			font-size: 5vh;
		}
	}
}

.nav-bar {
	height: 5vh;
	width: auto;

	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;

	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;

	padding: 3rem 2rem;
  	display: flex;
  	gap: 1rem;
  	align-items: center;
  	justify-content: center;
}

.nav-bar-center-section {
	display: flex;
	gap: 6rem;

	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;

	a {
		scroll-behavior:inherit;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////// title and about section

.header-aligner {
	display: flex;
	flex-wrap: wrap;
}

/////////////////////////////////////////////////////////////////////////////////////////// name section

.name-title {
	display: flex;
	flex-direction: column;
	align-items: start;
	align-content: start;
	justify-content: start;
	margin-left: 120px;
}

.name-title {

	h1 {
		text-decoration: none;
		padding: 0rem clamp(1rem, 2vw, 3rem);

		background: linear-gradient(270deg, #f0c208, #08c5f0, #c608f0);
    	background-size: 600% 600%;

    	-webkit-animation: AnimationName 60s ease infinite;
    	-moz-animation: AnimationName 60s ease infinite;
    	animation: AnimationName 60s ease infinite;

		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}

	@-webkit-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes AnimationName {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
}

.name-section h1 {
	font-size: 150px;
}

.sub-name-section h1 {
	font-size: 90px;
}
/////////////////////////////////////////////////////////////////////////////////////////// about me section

.about-me-section {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-left: 10%;
}

.text-box {
	width: 900px;
}

.text-box-title h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 60px;
	color: rgb(0 0 0/1);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.text-box-content p {
	font-size: 20px;
	text-align: justify;
}

@media screen and (max-width: 1800px) {
	.header-aligner {
		justify-content: center;
	}
	.name-title {
		align-items: center;
		align-content: center;
		justify-content: center;
		margin-left: 0px;
	}
}

@media screen and (max-width: 1660px) {
	.about-me-section {
		padding-left: 0%;
	}
}

@media screen and (max-width: 600px) {
	.name-section h1 {
		font-size: 10vh;
	}
	
	.sub-name-section h1 {
		font-size: 7vh;
	}

	.about-me-section {
		padding-left: 0px;
	}

	.text-box-title h1 {
		font-size: 3vh;
	}

	.text-box {
		width: auto;
		
		p {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

/////////////////////////////////////////////////////////////////////////////////////////// social link section

.social-link {
	margin-top: 40px;
	display: flex;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	gap: 50px;
}

.github-link-box {
	height: 187px;
}

.github-stats-box {
	height: 190px;
}

.github-profile-card {
	background-color: #191724;
	height: 188px; // smaller cuz border
	width: 298px; // smaller cuz border
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #ffffff;

	a {
		display: inline-block;
		padding:0%;
		width: 298px;
		height: 188px;
	}
	a:hover {
		background-color: black;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;

		.github-profile-card-icon {
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}

	h4 {
		text-align: start;
		color: #9bced7;
		font-size: 18px;
		margin: 0px;
		padding-top: 14px;
		padding-left: 24px;
	}
}

.github-profile-card-icon {
	background: url(icons/external-link.svg) no-repeat;
	height: 85px;
	width: 85px;
	-webkit-filter: invert(100%);
	filter: invert(100%);

	margin: 0 auto;
	margin-top: 25px;
    position: relative;
}


@media screen and (max-width: 715px) {
	.social-link {
		flex-direction: column;
		align-items: center;
	}
}

/////////////////////////////////////////////////////////////////////////////////////////// PROJECTS SECTION

.projects-title h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 60px;
	color: rgb(0 0 0/1);
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.projects-card-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: auto;
	align-content: center;
}

.projects-card-item {
	display: flex;
    justify-content: normal;
    align-items: center;
	text-align: center;
	margin: 30px;
	flex-direction: column;
	height: 400px;
	max-width: 400px;
	min-width: 400px;

	background-color: #191724;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #ffffff;
}

.projects-card-item:hover {
	background-color: black;
	transform: scale(1.08, 1.03);

	.projects-card-github-button {
		-webkit-filter: invert(100%);
		filter: invert(100%);
	}
}

@media screen and (max-width: 410px) {
	.projects-card-item {
		min-width: 0px;
		max-width: 400px;
	}
}

.projects-card-item h3 {
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
}

.projects-card-item p {
	font-size: 15px;
	margin: 8px;

	text-align: justify;
}

.projects-card-github-button {
	background: url(icons/github.svg) no-repeat;
	padding: 32px 32px;
	margin-top: auto;
	margin-bottom: 25px;
}

/////////////////////////////////////////////////////////////////////////////////////////// SKILLS SECTION


.skills-title h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 60px;
	color: rgb(0 0 0/1);
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

@media screen and (max-width: 600px) {
	.skills-title h1 {
		font-size: 5vh;
	}
}


.skills-icon-box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: auto;
	align-content: center;
	gap: 80px;
}

.skills-icon-item {
	display: flex;
    justify-content: normal;
    align-items: center;
	text-align: center;
	flex: 0 0 auto;
	flex-direction: column;
  	margin: 10px;
	padding: 10px 10px;
	height: 140px;
	width: 120px;


	background-color: #191724;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid #ffffff;
}

.skills-icon-item:hover {
	background-color: black;
	transform: scale(1.08, 1.03);

	p {
		font-size: 19px;
		padding-top: 13px;
	}
}

.skills-icon-item p {
	font-size: 15px;
	padding-top: 22px;
}

.tooltip-title {
	color: white;
	text-align: center;
	letter-spacing: 2px;
}

.skills-html-icon {
	padding: 32px 32px;
	background: url(icons/skills-html.png) no-repeat;
}
.skills-css-icon {
	padding: 32px 32px;
	background: url(icons/skills-css.png) no-repeat;
}
.skills-reactjs-icon {
	padding: 32px 32px;
	background: url(icons/skills-reactjs.png) no-repeat;
}
.skills-python-icon {
	padding: 32px 32px;
	background: url(icons/skills-python.png) no-repeat;
}
.skills-kotlin-icon {
	padding: 32px 32px;
	background: url(icons/skills-kotlin.png) no-repeat;
}
.skills-discordpy-icon {
	padding: 32px 32px;
	background: url(icons/skills-discord.png) no-repeat;
}
.skills-docker-icon {
	padding: 32px 32px;
	background: url(icons/skills-docker.png) no-repeat;
}
.skills-linuxserver-icon {
	padding: 32px 32px;
	background: url(icons/skills-linux.png) no-repeat;
}
.skills-networking-icon {
	padding: 32px 32px;
	background: url(icons/skills-network.png) no-repeat;
}
.skills-lua-icon {
	padding: 32px 32px;
	background: url(icons/skills-lua.png) no-repeat;
}

/////////////////////////////////////////////////////////////////////////////////////////// FOOTER SECTION

footer {
	height: 100px;
	margin-top: 60px;
	position: relative;
	text-align: center;
}

.footer-copyright {
	color: white;
	padding-top: 30px;
	font-size: 14px;
}
